/*
 * General styles
 * --------------
 */

body {
  background-color: #E5EDB8;
  font-family: "Alegreya", serif;
  font-size: 14pt;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-bottom: 0.5em;
}

h2, h3, h4, h5 {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 26pt;
  color: #2D6917;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

h3 {
  font-size: 20pt;
  color: #000000;
}

h4 {
  font-size: 16pt;
  color: #4A4A4A;
}

p {
  color: #333333;
  margin: 0;
}

a {
  color: #1199C3;
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.clearfix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-content {
  padding: 2% 5%;
}

@media only screen and (min-width: 750px) {
  body {
    font-size: 16pt;
  }

  h1 {
    font-size: 40pt;
  }

  h2 {
    font-size: 30pt;
  }

  h3 {
    font-size: 24pt;
  }
}


/*
 * Header-specific styles
 * ----------------------
 */

.header {
  background-color: #300018;
}

.header-name {
  text-align: center;
  text-transform: uppercase;
  color: #ADB85F;
  margin-bottom: 0;
}

.header-role {
  font: 300 16pt "Lato", sans-serif;
  text-transform: lowercase;
  text-align: center;
  color: #E5EDB8;
  display: block;
  margin-bottom: 10px;
}

.biopic {
  float: left;
  padding: 10px;
  margin-right: 1em;
  width: 200px;
  display: none;
}

.contacts {
  padding-bottom: 0.5em;
}

.contact-field {
  color: #ADB85F;
}

.contact-value {
  color: #E5EDB8;
}

.welcome-message {
  font-style: italic;
  font-size: 18pt;
  color: #E5EDB8;
  display: none;
  margin-top: 0.5em;
}

.header-skills {
  color: #ADB85F;
  display: none;
}

.skill {
  text-transform: capitalize;
  color: #E5EDB8;
}

@media only screen and (min-width: 750px) {
  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: block;
  }

  .header-skills, .biopic {
    display: block;
  }
}

@media only screen and (min-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (min-width:1024px) {
  .biopic {
    width: 200px;
  }
}

/*
 * Education/job/project styles
 * ----------------------------
 */

.education-entry, .work-entry, .project-entry {
  padding: 7px 5%;
}

.date-text {
  font-style: italic;
  color: #999999;
  float: left;
}

.location-text {
  font-style: italic;
  color: #999999;
  float: right;
}

@media only screen and (min-width: 750px) {
  .education-entry p, .work-entry p, .project-entry p {
    font-size: 14pt;
    margin-top: 1em;
  }
}


/*
 * Footer styles
 */

.footer {
  text-align: center;
  background-color: #300018;
  padding-bottom: 0.5em;
}

.footer-signoff {
  background-color: #5A3D31;
  color: #ADB85F;
}

@media only screen and (max-width: 750px) {
  .footer {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    margin-top: 5%;
  }
}


/*
 * Map styles
 * ----------
 */

#map {
  height: 100vmin;
  margin: 0 5%;
}

#mapDiv {
  width: 100%;
}
